<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'reports/css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Murecho:wght@400;700&display=swap" rel="stylesheet">

  <meta charset="utf-8">
  <title>{% block title %}Twitch{% endblock %}</title>
  <!-- seus CSS, etc… -->
</head>
<body>
  <header>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    &copy; 2025
  </footer>
</body>
</html>
